/* html body {
    background: linear-gradient(0.25turn, var(--grey), var(--bg), var(--hover));
    color: var(--white);
    font-family: Shadows into light;
    font-size: 30px;
    min-width: 100vw;
} */

.blog-card {
    outline: 3px solid orange;
    margin: 5px;
    padding: 10px;
}

.blog-card h2 {
    outline: 1px solid pink;
}